*{
	margin: 0px;
}

#all{
	width: 100%;
	display: table;
	
	background-color: grey;
	height: 90px;
}
#content{
	padding: 15px;
	margin-left: 10%;
	width: 80%;
	min-height: 400px;
	height: auto;
	margin-top: 50px;
	border-radius:15px;
	display: block;
	background-color: grey;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;

}

li {
  float: left;
}

li a {
display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}